body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
}
.light-pink {
    background-color: #FDFAEF;
    height: 50px;
    width: 100%;
}

.light-white {
    background-color: #F8F8F8;
    width: 100%;
}

.bright-yellow {
    background-color: #fcd219;
    height: 50px;
    width: 100%;
}

.bright-blue {
    background-color: #4a32aa;
    height: 50px;
    width: 100%;
}

.content-border {
    border-bottom: 15px solid #fff;
}